<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664235048869-e27rlehsjhgs6u8n9odjcbc1agli0v1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664235048869-e27rlehsjhgs6u8n9odjcbc1agli0v1d</string>
	<key>API_KEY</key>
	<string>AIzaSyDOxDtlgcmm05O83SMt6KZ_xa3uBVUKvAk</string>
	<key>GCM_SENDER_ID</key>
	<string>664235048869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcmus.hr20211</string>
	<key>PROJECT_ID</key>
	<string>heart-rate-monitor-2eedb</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-rate-monitor-2eedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664235048869:ios:6b71388826082c3c8b724c</string>
</dict>
</plist>